@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  @apply text-sm bg-neutral-500 text-neutral-900;
}